.control{
    margin:20px;
   
     width:95%;
    display:flex;
    justify-content: space-between;
}
.input{
   padding:1%;
     font-size: 16px;
     border-width: 1px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: hidden;
     border-radius: 8px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 1px rgba(66,66,66,.75);
   width:100%;
   margin-right:2%;
}
input:focus{
     outline:none;
}
.myButton {
	box-shadow: 0px 0px 4px 0px #c21b58;
	
	background-color:#C83232;
	border-radius:10px;
	border:1px solid #cc194c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1% 2%;
	text-decoration:none;
	text-shadow:0px 2px 0px #662828;
    transition:1s;
    margin:0.2%;
}
.myButton:hover {
	 transition:0.5s;
	background-color:#D97070;
    border:1px solid #ac5959;
  box-shadow: 0px 0px 4px 0px #ac5959;
}
.myButton:active {
	position:relative;
	top:1px;
}
@media (max-width: 768px) {
    .control{
    margin:10px 5px;
   
     width:95%;
    display:flex;
    justify-content: space-between;
}
.myButton {
    font-size:13px;
}
}