.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  font-size: 12px;
  color: #c83232;
  background-color: #eeeeee;
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 15px;
  transition:0.5s;
}
.btn:hover {
 background-color: #04003b;
 color: #eeeeee;
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn span a {
text-decoration: none;
}