.outlinegone{
  outline:none;
  
  width:100%;
  margin-left: 0px;
}

.leftmenue ul{
  list-style: none;
  margin: 10px 25px;
  padding: 0px 0px 20px 0px;
}

.leftmenue ul li{
  margin-top:10px;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.25em;
  padding: 5px;
  border-radius:15px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.leftmenue ul li:hover {
  background:#efefef;
  border-radius:15px;
  }
  
.leftmenue  a {
  color: #333;
  text-decoration:none;
  display:block;
  width:100%;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}  
 
.leftmenue  a:hover {
  color: #000000;
  text-decoration:none;
  width:100%;
  }

.icon1::before {content: url(/images/icons/home.png) " "; padding:5px 10px 0 0;}
.icon2::before {content: url(/images/icons/abonnements.png) " "; padding:5px 10px 0 0;}
.icon3::before {content: url(/images/icons/listen.png) " "; padding:5px 10px 0 0;}
.icon4::before {content: url(/images/icons/kartehinzufuegen.png) " "; padding:5px 10px 0 0;}
.icon5::before {content: url(/images/icons/nachrichten.png) " "; padding:5px 10px 0 0;}
.icon6::before {content: url(/images/icons/benachrichtigung.png) " "; padding:5px 10px 0 0;}
.icon7::before {content: url(/images/icons/lesezeichen.png) " "; padding:5px 10px 0 0;}
.icon8::before {content: url(/images/icons/girls.png) " "; padding:5px 10px 0 0;}
.icon9::before {content: url(/images/icons/meinprofil.png) " "; padding:5px 10px 0 0;}

.xtrabtn{

 margin-top:20px;
}

@media (max-width: 768px) {
.xtrabtn{
 transform:translateX(-20px);
 margin-top:20px;
}
}